.layoutMain{
    width: 100%;
    height: 100%;
    .ant-layout-sider{
        background-color: #ffffff;
    }
    
}
.layoutContent{
    background: #ffffff;
    .ant-layout-content{
        min-height: auto;
    }
}
.ant-tabs-tab{
    &:not(.ant-tabs-tab-active) {
        background-color: #e8e8e8 !important;
    }
}