.finance{
    padding: 20px;
    height: 100%;
    text-align: left;
    background-color: #FFFFFF;
    .finance-content{
        display: flex;
        flex-direction: column;
        flex: 2;
        height: 100%;
        background-color: #F2F3F8;
    }
    .right-box{
        @media only screen and (min-width: 1024px) {
            margin: 0 10px 0 40px;
        }
        margin: 10px 0 0 0;       
    }
    .orange-text-head-title{
        .ant-card-head-title{
            color: #FB8C00 !important;
        }
    }
    .green-card-value{
        color: #8dc80e !important;
        font-size: 18px;
        white-space: normal;
        word-break: break-all;
        padding: 0 0 10px 0;
        &.regular-text{
            font-size: 13px !important;
        }
    }
    .card-count-text{
        color: #FB8C00 !important;
        font-size: 18px;
        margin-left: 10px;
    }
    .card-label-count-text,
    .card-label-value-text{
        font-size: 14px;
        margin-left: 10px;
    }
    .search-result-table{
        .ant-card-body{
            overflow: auto;
        }
    }
    .pagination-wrapper{
        min-height: 50px;
        .pagination-area{
            position: absolute;
            right: 0;
        }
    }
    .center-skeleton{
        margin: 10px auto !important;
        width: 80% !important;
    }
    .accounts-list-wrapper{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        .stats-card{
            display: flex;
            .stat-card{
                .ant-card-body{
                    width: 16em;
                    height: 7em;
                    margin: 0 10px 15px 0;
                    border-radius: 5px;
                    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
                    transition: 0.3s;
                    &:hover{
                        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);
                    }
                }
            }
        }
    }
    .card-wrapper{
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
        width: '100%';
    }
}