.login-main{
  width: 100%;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.42857143;
  color: #58666e;
  margin: 0 auto;
  min-height: 100%;
  height: 100%;
  background-color: #6A678D;
  .login-bg{
    width: 100%;
    height: 100%;
    background-color: #6A678D;
  }
  @media (min-width:641px)  {
    .login-bg{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
  @media (min-width:320px) {
    .login-box{
      border-radius: 5px;
      padding: 2em 3em;
      position: absolute;
      width: 100%;
      top: 100px;
      border: 0;
    }
  }
  @media (min-width:641px)  {
      .login-box{
        margin: 100px auto;
        height: auto;
        background-color: #6A678D;
        position: absolute;
        left: 50%;
        top: 25%;
        transform: translate(-50%, -50%);
      }
    }
    @media (min-width:1025px)  {
      .login-box{
        width: 22vw;
        height: 300px;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
    @media (min-width: 4096px) {
      .login-box{
        height: auto;
      }
    }
    
  .login-form-button{
    width: 100%;
  }
  .registration-link-button{
    width: 100%;
  }
  .btn-warning {
      color: #ffffff !important;
      background-color: #fad733;
      border-color: #fad733;
      font-size: 16px;
      font-weight: bold;
      line-height: 1;
  }
  .white-text{
    color: #ffffff;
  }
  .align-left{
    text-align: left;
  }
  .hello-text{
    margin-bottom: 5px;
  }
  .error-message, .ant-form-item-explain.ant-form-item-explain-error {
    color: #ffffff;
    margin-bottom: 10px;
  }
  .ant-checkbox + span{
    color: #ffffff;
  }
}