.layoutHeader{
    background-color: #6A678D;
    position: relative;
    z-index: 10;
    max-width: 100%;
    background: #6A678D;
    -webkit-box-shadow: 0 2px 8px #6A678D;
    box-shadow: 0 2px 8px #6A678D;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0 50px;
    @media (min-width:320px){
        .logo{
            background-color: #6A678D;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-size: 16px;
            font-weight: bold;
            img{
                width: 30px;
                height: 30px;
                margin-right: 10px;;
            }
        }
    }
    @media (min-width:1024px){
        .logo{
            width: 200px;
            height: 64px;
            background-color: #6A678D;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-size: 16px;
            font-weight: bold;
            img{
                width: 30px;
                height: 30px;
                margin-right: 10px;;
            }
        }
    }
    
    .userInfo{
        // width: 120px;
        cursor: pointer;
        .user{
            margin-left: 20px;
        }
        .drop{
            :hover{
                background-color: rgba(0, 123, 178, 0.6);
                color:rgba(255, 255, 255, 0.6)
            }
        }
        .right-item{
            display: flex;
            flex-direction: row;
        }
    }
    
    .white-text{
        color: #ffffff;
    }
    .down-outline-icon{
        margin-left: 10px;
        color: #ffffff;
    }
    .menu-toggler {
        color: #ffffff;
        font-size: 25px;
        margin-left: 3em;
    }
    @media (min-width:320px){
        .small-screen-toggler{
            display: block;
            margin-left: 0;
            position: absolute;
            left: 10px;
        }
        .large-screen-toggler{
            display: none;
        }
    }
    @media (min-width:1024px){
        .small-screen-toggler{
            display: none;
        }
        .large-screen-toggler{
            display: block;
        }
    }
    .green-avatar{
        color: #ffffff;
        background-color: #87d068 !important;
    }
    .header-white-divider{
        border-color: rgba(255, 255, 255, 0.85) !important;
        vertical-align: middle;
        height: 30px;
        margin-top: 20px;
        margin-right: 25px;
    }
}