.home{
    padding: 20px;
    height: 100%;
    text-align: left;
    background-color: #F9FAFC;
    .home-content{
        display: flex;
        flex-direction: column;
        flex: 2;
        height: 100%;
        .charts{
            padding: 20px;
            margin-top: 10px;
            flex: 1;
            background-color: #ffffff;
            p{
                text-align: left;
                font-weight: bold;
                font-size: 24px;
            }
        }
    }
    .card-wrapper{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: #ffffff;
        margin-top: 10px;
        .card-area{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            .stats-card{
                display: flex;
                background-color: #ffffff;
                .ant-card-body{
                    width: 12em;
                    height: 12em;
                    margin: 0 10px 15px 10px;
                    border-radius: 5px;
                    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
                    transition: 0.3s;
                    &:hover{
                        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
                    }
                }
            }
        }
        
    }
    .stats-card-with-content{
        background-color: #ffffff;
        min-height: 80px;
        margin: 0 5px;
        text-align: center;
        width: min-content;
        &.small-device{
            margin: 10px 0;
        }
    }
    .orange-text-head-title{
        .ant-card-head-title{
            color: #FB8C00 !important;
        }
    }
    .green-card-value{
        color: #8dc80e !important;
        font-size: 18px;
        white-space: normal;
        word-break: break-all;
        padding: 0 0 10px 0;
        &.regular-text{
            font-size: 13px !important;
        }
    }
    .card-count-text{
        color: #FB8C00 !important;
        font-size: 18px;
        margin-left: 10px;
    }
    .card-label-count-text,
    .card-label-value-text{
        font-size: 14px;
        margin-left: 10px;
    }
    .search-result-table{
        .ant-card-body{
            overflow: auto;
        }
    }
    .pagination-wrapper{
        min-height: 50px;
        .pagination-area{
            position: absolute;
            right: 0;
        }
    }
    .center-skeleton{
        margin: 10px auto !important;
        width: 80% !important;
    }
    .empty-wrapper{
        width: 100%;
    }
}