@import '~antd/dist/antd.css';
@import '~react-grid-layout/css/styles.css';
@import '~react-resizable/css/styles.css';
@import 'pagination.css';
.App {
  text-align: center;
  width: 100%;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.pagination-area{
  display: flex;
  flex-direction: row;
  padding: 15px 0;
  justify-content: flex-end;
  &.top{
    justify-content: flex-start;
  }
}
.search-area{
  padding: 15px 0;
}
.tableMain{
  background-color: #ffffff;
  padding: 10px;
}

.search-top {
  text-align: left;
  h1{
    font-size: 24px;
    margin: 0;;
  }
}
.ant-checkbox-disabled .ant-checkbox-inner{
  background-color: rgba(24, 144, 255, 0.2) !important;
  &::after {
      position: absolute;
      display: table;
      border: 2px solid #fff;
      border-top: 0;
      border-left: 0;
      -webkit-transform: rotate(
  45deg
  ) scale(1) translate(-50%, -50%);
      transform: rotate(
  45deg
  ) scale(1) translate(-50%, -50%);
      opacity: 1;
      -webkit-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
      transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
      content: ' ';
  }
}
.ant-pagination-item-NaN{
  display: none !important;
}
.ant-form-item-extra, .red-text{
  color: #ff4d4f;
}
.red-text{
  color: #ff4d4f;
}
.green-text {
  color: #8dc80e !important;
}
.orange-text{
  color: #FB8C00 !important;
}
.grey-text{
  color: #777777 !important;
}
.bold-text{
  font-weight: 500;
}
.float-right{
  float: right;
}
.margin-top-10{
  margin-top: 10px;
}
.margin-bottom-10{
  margin-bottom: 10px;
}
.margin-vertical-10{
  margin-top: 10px;
  margin-bottom: 10px;
}
.align-left{
  text-align: left;
}
.align-center{
  text-align: center;
}
.no-margin{
  margin: 0 0 !important;
}
.card-blue{
  background-color: #ffffff;
  border-color: #337ab7;
  border: solid 1px #337ab7;
  border-radius: 5px;
  margin: 0 16px;
  .ant-statistic-title, 
  .ant-statistic-content-value{
    color: #337ab7;
  }
}
.card-green{
  background-color: #ffffff;
  border-color: #8dc80e;
  border: solid 1px #8dc80e;
  border-radius: 5px;
  .ant-statistic-title, 
  .ant-statistic-content-value{
    color: #8dc80e;
  }
}
.bold-text{
  font-weight: bold;
  font-size: 14px;
}
.gutter-label{
  margin: 10px 0;
}
.input-number{
  width: 100%;
  height: 30px;
  padding: 0 11px;
  text-align: left;
  background-color: transparent;
  border: solid 1px #ccc;
  border-radius: 2px;
  outline: 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -moz-appearance: textfield !important;
  &:disabled{
    background-color: #f5f5f5;
  }
}                     
.ant-avatar{
  background: #ccc !important;
}
.column-title-note {
  font-size: 12px;
  text-align: center;
}
.table-yellow{
  .ant-table-thead > tr > th {
    background: rgba(252, 241, 198, 1) !important;
  }
  .ant-table-tbody > tr.ant-table-row:hover > td{
    background: rgba(252, 241, 198, 0.2) !important;
  }
  .ant-table-tbody > tr.ant-table-row > td{
    background: rgba(252, 241, 198, 0.5) !important;
  }
  .ant-table-tbody > tr:nth-child(2n).ant-table-row > td
  {
    background: rgba(252, 241, 198, 0.7) !important;
  }
}
.table-green{
  .ant-table-thead > tr > th {
    background: rgba(199, 246, 161, 1) !important;
  }
  .ant-table-tbody > tr.ant-table-row:hover > td{
    background: rgba(199, 246, 161, 0.2) !important;
  }
  .ant-table-tbody > tr.ant-table-row > td
  {
    background: rgba(199, 246, 161, 0.5) !important;
  }
  .ant-table-tbody > tr:nth-child(2n).ant-table-row > td
  {
    background: rgba(199, 246, 161, 0.7) !important;
  }
}
.table-blue{
  .ant-table-thead > tr > th {
    background: rgba(225, 245, 254, 1) !important;
  }
  .ant-table-tbody > tr.ant-table-row:hover > td{
    background: rgba(225, 245, 254, 0.2) !important;
  }
  .ant-table-tbody > tr.ant-table-row > td
  {
    background: rgba(225, 245, 254, 0.5) !important;
  }
  .ant-table-tbody > tr:nth-child(2n).ant-table-row > td
  {
    background: rgba(225, 245, 254, 0.7) !important;
  }
}
.ant-form-item-label > label{
  white-space: pre-line;
    line-height: 1;
}
.flex-center-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.flex-center-column{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flex-row{
  display: flex;
  flex-direction: row;
}
.margin-horizontal-5{
  margin-left: 5px;
  margin-right: 5px;
}
.margin-horizontal-10{
  margin-left: 10px;
  margin-right: 10px;
}
.flex-basis-40{
  flex-basis: 40%;
}
.flex-basis-50{
  flex-basis: 50%;
}
.label-align-left-form-item{
  .ant-form-item-label{
    text-align: left;
  }
}
.yellow-button{
  background-color: #ffa940;
  color: #ffffff;
  &:hover,
  &:active{
    color: #ffa940;
    border-color: #ffa940;
  }
  &.forced-when-disabled[disabled],
  .forced-when-disabled[disabled]:hover,
  .forced-when-disabled[disabled]:focus,
  .forced-when-disabled[disabled]:active
  {
    background-color: #ffa940;
    color: #ffffff;
    border-color: #ffa940;
  }
}
.grey-dashed-icon{
  font-size: 20px;
  color: #777777;
  cursor: pointer;
}
.transparent-button{
  background-color: rgba(255,255,255,0.2);
  color: rgba(255,255,255,0.8);
}
.green-button{
  background-color: #8dc80e;
  color: #ffffff;
  &:hover,
  &:active{
    color: #8dc80e;
    border-color: #8dc80e;
  }
  &.forced-when-disabled[disabled],
  .forced-when-disabled[disabled]:hover,
  .forced-when-disabled[disabled]:focus,
  .forced-when-disabled[disabled]:active
  {
    background-color: #8dc80e;
    color: #ffffff;
    border-color: #8dc80e;
  }
}
.red-button{
  background-color: #f05050;
  color: #ffffff;
  &:hover,
  &:active{
    color: #f05050;
    border-color: #f05050;
  }
}
.form-item-overflow-visible{
  .ant-form-item-label{
    overflow: visible;
  }
}
.small-text{
  font-size: 11px;
}
.card-value-text{
  font-size: 18px;
}
.pointer{
  cursor: pointer;
}
.ant-menu:not(.ant-menu-horizontal) {
  .ant-menu-item-selected{
    background-color: rgba(106, 103, 141, 0.25);
  }
}
.transparent-menu{
  background: transparent !important;
  border-bottom: none !important;
  li:not(.ant-menu-overflowed-submenu){
    color: #ffffff;
  }
  li.ant-menu-submenu-selected{
    color: #ffffff !important;
    border-bottom: none !important;
  }
}
.react-grid-item{
  cursor: move;
}
.widget-container{
  background-color: rgba($color: #cccccc, $alpha: 0.1);
}
.overflow-ellipsis{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}